* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.75rem;
  margin: 10px;
}

h3{
  font-size: 1.25rem;
}
.conatiner-div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.score-card-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.span-two {
  grid-column: span 2;
  text-align: center;
}

.player-x-div, .player-o-div{
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.game-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

.game-box{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-info-div button{
    background-color:rgb(255, 9, 9) ;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

/* utility classes */
.r-b{
    border-right: none;
}

.l-b{
    border-left: none;
}

.t-b{
    border-top: none;
}

.b-b{
    border-bottom: none;
}